appdirs==1.4.4
audioread==2.1.9
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
Cython==0.29.28
decorator==5.1.1
h5py==3.6.0
humanfriendly==10.0
idna==3.3
jaconv==0.3
joblib==1.1.0
librosa==0.9.1
llvmlite==0.38.0
numba==0.55.1
numpy==1.20.0
packaging==21.3
pooch==1.6.0
pycparser==2.21
pyparsing==3.0.7
PyYAML==6.0
requests==2.27.1
resampy==0.2.2
scikit-learn==1.0.2
scipy==1.7.1
sentencepiece==0.1.96
six==1.16.0
SoundFile==0.10.3.post1
threadpoolctl==3.1.0
torch==1.10.2
torch-complex==0.4.0
typeguard==2.13.3
typing_extensions==4.1.1
urllib3==1.26.8
